$font-color-contrast: #212735;
$font-color-off-contrast: #555555;

.container
{

}

.hero-banner
{
    min-height: 350px;


    //background-color: #21D4FD;
    //background-image: linear-gradient(25deg, #21D4FD 0%, #B721FF 100%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1, h2, p
    {
        font-family: 'Montserrat';
        color: $font-color-contrast;
    }

    h2
    {
        font-size: 1.5rem;
        font-weight: 500;
    }

    p
    {
        font-size: 1.1rem;
        line-height: 1.5;
        color: $font-color-off-contrast;
    }

    .banner-text
    {
        max-width: 500px;
        padding-top: 5rem;
    }

    img
    {
        max-width: 20%;
        max-height: 50%;
    }
}