$font-color-contrast: #212735;
$font-color-off-contrast: #555555;
$button-color: #4b4bc3;
$button-color-hover: #2b2ba3;

.container
{
    
}

.hero-banner
{
    min-height: 400px;

    //Gradient background
    //background-color: #21D4FD;
    //background-image: linear-gradient(25deg, #21D4FD 0%, #B721FF 100%);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    h1, h2, p
    {
        font-family: 'Montserrat';
        color: $font-color-contrast;
    }

    h2
    {
        font-size: 1.5rem;
        font-weight: 500;
    }

    p
    {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $font-color-off-contrast;
    }

    .banner-text
    {
        max-width: 500px;
        //padding-left: 4rem;
        //padding-top: 5rem;
    }

    button
    {
        border: none;
        text-decoration: none;

        background-color: $button-color;

        padding: 0.5rem 0.4rem;
        border-radius: 2px;

        font-size: 1rem;
        font-family: 'Montserrat';
        font-weight: 300;
        color: #ffffff;
    }

    button:hover
    {
        background-color: $button-color-hover;
    }
}